* {
    background-image: none!important;
}

div {
    display: inline-block;
}

text {
    font-size: 12px;
}

.container {
    text-align: center;
}

.titulo {
    font-family: Helvetica, sans-serif;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
}

.container-speedometer {
    vertical-align: middle;
    margin-bottom: 70px;
}

tbody tr td div div {
    margin-right: 20px;
    margin-left: 20px;
}


.container-receita {
    margin-bottom: 50px;
}

.container-receita-detalhe {
    width: 100%;
}

.container-receita2 {
    vertical-align: middle;
    
}

.google-visualization-table-tr-head {
    background-color: #b0bec5!important;
    color: white;
}

.container-despesas-custos {
    margin-bottom: 20px;
    margin-left: 80px;
    margin-top: 20px;
}
